{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block topbar %}
  <div class="crumb">
    <a href="{% url 'accounts:role_list' %}">
      <svg class="ico" width="13" height="13" viewBox="0 0 16 16" style="vertical-align:-2px"><use href="#i-back"/></svg>
      Roles
    </a>
    <span class="sep">/</span>
    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block topbar_actions %}
  {% if role %}
    <a class="btn danger sm" href="{% url 'accounts:role_delete' role.pk %}">Delete</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="panel">
    <form method="post" novalidate>
      <div class="panel-body">
        {% csrf_token %}
        {% include "accounts/_role_fields.html" %}
      </div>
      <div class="panel-foot">
        <button type="submit" class="btn">Save role</button>
        <a class="btn quiet" href="{% url 'accounts:role_list' %}">Cancel</a>
        <span class="sm muted right">Only permissions you hold yourself are listed.</span>
      </div>
    </form>
  </div>
{% endblock %}
