{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block topbar %}
  <div class="crumb">
    <a href="{% url 'templates:list' %}">
      <svg class="ico" width="13" height="13" viewBox="0 0 16 16" style="vertical-align:-2px"><use href="#i-back"/></svg>
      Templates
    </a>
    <span class="sep">/</span>
    <h1>{{ title }}</h1>
  </div>
{% endblock %}

{% block topbar_actions %}
  {% if template %}
    <a class="btn danger sm" href="{% url 'templates:delete' template.pk %}">Delete</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="max-md">
    <div class="panel">
      <form method="post" novalidate>
        <div class="panel-body">
          {% csrf_token %}
          {% include "_fields.html" %}
        </div>
        <div class="panel-foot">
          <button type="submit" class="btn">Save template</button>
          <a class="btn quiet" href="{% url 'templates:list' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
